body{
  text-align: center;
  margin: 0rem;
  padding: 0rem;
  background-color: rgb(245, 173, 226);
}
section{
  margin: 2rem;
  padding: 2rem;
  background-color: rgb(248, 244, 247);
  border-radius: 5px;
}
#output{
  display: none;
}
